<!DOCTYPE html>
<html lang="JP">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Label</title>
    <link rel="icon" type="image/png" href="/To-Label.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <nav
      class="navbar bg-dark border-bottom border-bottom-dark navbar-expand-lg fixed-top"
      style="font-size: 30px; font-weight: bold; width: 100%"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px">To-Label</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="text-align: right"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/setting">Setting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main style="position: absolute; top: 80px; right: 30px; left: 30px">
      <div class="mt-5">
        <div class="mb-4 border-bottom" id="text">
          <h5 class="text-center font-weight-bold mb-3">
            <%= username %>さんは現在以下の部屋に入室しています。
          </h5>
          <h5 class="text-center font-weight-bold mb-3">
            全てのメンバーが揃ったら、準備OKボタンを押してください!
          </h5>
        </div>
        <div class="w-75" style="margin: 0 auto" id="team-list">
          <p>チーム入室用パスワード:<%= password %></p>
          <table class="table">
            <thead>
              <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">player</th>
                <th scope="col">OK!</th>
              </tr>
            </thead>
            <tbody id="unko">
              <tr class="table-primary">
                <th scope="row">player1(YOU)</th>
                <td><p style="font-weight: bold"><%= username %></p></td>
                <td>
                  <button class="btn btn-success" id="prepare">
                    <p style="font-weight: bold; margin-bottom: 0px">準備OK!</p>
                  </button>
                </td>
              </tr>
              <% user_list.forEach(element => {%>
              <tr class="table-light" id="<%= element.authorization %>">
                <th scope="row">player<%= element.id %></th>
                <td><%= element.user %></td>
                <% if (element.permission==1){%>
                <td>
                  <p class="text-success" style="font-weight: bold">準備OK!</p>
                </td>
                <%}else{%>
                <td>
                  <p class="text-danger" style="font-weight: bold">準備中...</p>
                </td>
                <%}%>
              </tr>
              <%});%>
            </tbody>
          </table>
          <div class="row g-3 align-items-center mt-2">
            <div class="col-12">
              <label for="time" class="col-form-label" style="font-weight: bold"
                >制限時間を入力(min)</label
              >
            </div>
            <div class="col-12">
              <div class="input-group" style="width: 200px">
                <button type="button" class="btn btn-primary" id="btn+">
                  +
                </button>
                <input
                  type="number"
                  id="time"
                  class="form-control"
                  value="5"
                  style="text-align: center"
                  disabled
                />
                <button type="button" class="btn btn-primary" id="btn-">
                  ー
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    ///var socket = io("http://" + location.hostname, {
    ///path: "/To-Label",
    ///});
    var socket = io();
    let timer;
    let timer2;
    const self_authorization = "<%= self_authorization %>";
    $(window).on("load", function () {
      socket.emit("team-join");
      if ($(window).width() < 768) {
        $("#team-list").removeClass("w-75");
      }
    });
    $(window).on("resize", function () {
      if ($(window).width() < 768) {
        $("#team-list").removeClass("w-75");
      } else {
        $("#team-list").addClass("w-75");
      }
    });
    $("#prepare").click(function () {
      if ($(this).attr("class") == "btn btn-success") {
        socket.emit("prepare", true);
      } else {
        socket.emit("prepare", false);
      }
    });
    $("#time")
      .prev("button")
      .click(function () {
        var now = $("#time").val();
        socket.emit("time", Number(now) + 1);
      });
    $("#btn-").click(function () {
      var now = $("#time").val();
      if (!(Number(now) <= 1)) {
        socket.emit("time", Number(now) - 1);
      }
    });
    socket.on("time_update", function (msg) {
      $("#time").val(Number(msg));
    });
    socket.on("prepre", function (msg) {
      if (Array.isArray(msg)) {
        if (msg.length == 3) {
          clearTimeout(timer);
          clearTimeout(timer2);
          $("#text").children("h1").remove();
          $("#text").children("h4").show();
          if (msg[0] == self_authorization) {
            if (msg[1]) {
              $("#prepare").children("p").text("準備中...");
              $("#prepare").attr("class", "btn btn-danger");
            } else {
              $("#prepare").children("p").text("準備OK!");
              $("#prepare").attr("class", "btn btn-success");
            }
          } else {
            if ($("#" + msg[0]).length) {
              if (msg[1]) {
                $("#" + msg[0])
                  .find("p")
                  .text("準備OK!");
                $("#" + msg[0])
                  .find("p")
                  .attr("class", "text-success");
              } else {
                $("#" + msg[0])
                  .find("p")
                  .text("準備中...");
                $("#" + msg[0])
                  .find("p")
                  .attr("class", "text-danger");
              }
            }
          }
          console.log(msg);
          if (msg[2] == true) {
            $("#text").children("h4").hide();
            $("#text").append(
              "<h1 class='text-danger text-center'>3秒後に始まります。</h1>"
            );
            timer = setTimeout(function () {
              $("#text").children("h1").text("2秒後に始まります。");
            }, 1000);
            timer2 = setTimeout(function () {
              $("#text").children("h1").text("1秒後に始まります。");
            }, 2000);
          }
        }
      }
    });
    socket.on("join-join", function (msg) {
      if (Array.isArray(msg)) {
        if (msg.length == 4) {
          clearTimeout(timer);
          clearTimeout(timer2);
          $("#text").children("h1").remove();
          $("#text").children("h4").show();
          if (msg[0] !== self_authorization) {
            var player_number = $("#unko").children("tr").length;
            var content =
              "<tr class='table-light' id=" +
              msg[0] +
              "><th scope='row'>player" +
              String(player_number + 1) +
              "</th><td>" +
              msg[1] +
              "</td><td><p class='text-danger' style='font-weight: bold'>準備中...</p></td></tr>";
            $("#unko").append(content);
          } else {
            $("#time").val(msg[2]);
          }
        }
      }
    });
    socket.on("leave", function (msg) {
      if ($("#" + msg).length) {
        clearTimeout(timer);
        clearTimeout(timer2);
        $("#text").children("h1").remove();
        $("#text").children("h4").show();
        $("#" + msg).remove();
      }
    });
    socket.on("next-before", function (msg) {
      if (msg) {
        socket.emit("next-after");
      }
    });
    socket.on("next", function (msg) {
      if (msg) {
        window.location.reload();
      }
    });
  </script>
</html>
