<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>To-Label - room</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/send_url.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body style="background-color: rgb(249, 245, 253)">
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      style="position: fixed; left: 0; top: 0; width: 100%; z-index: 100"
    >
      <div class="container">
        <a
          class="navbar-brand"
          href="/home"
          style="
            font-size: 5vh;
            font-weight: bold;
            position: relative;
            left: -5%;
          "
          >To-Label</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="height: 6vh; width: 7vh; position: relative; right: -5%"
        >
          <span class="navbar-toggler-icon" style="font-size: 3vh"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          style="margin: 4vh"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" style="height: 4vh">
                <i
                  class="fa-solid fa-circle-question"
                  style="font-size: 4vh"
                ></i>
              </a>
            </li>
            <li class="nav-item dropdown" style="height: 5vh">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="font-size: 5vh; position: relative; top: -1.5vh"
              >
                <i class="fa-solid fa-user" style="height: 5vh"></i>
                <!-- ユーザーアイコンの画像ファイルへのパス -->
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end bg-dark"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a
                    class="dropdown-item text-white"
                    href="/history"
                    style="font-size: 4vh; font-weight: bold"
                    >History</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item text-white"
                    href="/setting"
                    style="font-size: 4vh; font-weight: bold"
                    >Setting</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item text-white"
                    href="/help"
                    style="font-size: 4vh; font-weight: bold"
                    >Help</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item text-white"
                    href="/logout"
                    style="font-size: 4vh; font-weight: bold"
                    >Logout</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main
      style="position: absolute; top: 18vh; left: 0%; right: 0%; z-index: -100"
    >
      <h1 class="text-center">レッテルを貼りましょう!</h1>
      <p class="text-right" style="text-align: right" id="timer"></p>
      <div class="progress mb-4">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          id="progress"
        ></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="card mb-2">
              <div class="card-body">
                <textarea
                  class="form-control"
                  id="message"
                  rows="3"
                  style="resize: none"
                  placeholder=""
                ></textarea>
                <div class="row mt-2">
                  <div class="col 5">
                    <select
                      id="address"
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected value="origin" id="origin">宛先</option>
                      <% other_users.forEach(element =>{%>
                      <option value="<%= element.authorization %>">
                        <%= element.user %>
                      </option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="col 4">
                    <button
                      class="btn btn-primary"
                      style="text-align: right"
                      id="msg_submit"
                    >
                      submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <div class="card-body">
                <ul class="list-group" id="your_msg_list">
                  <% your_msg_list.forEach(element=>{ %>
                  <li class="list-group-item" name="<%= element.control %>">
                    <div class="row">
                      <div class="col-7 pb-0">
                        <p>@<%= element.to_username %></p>
                        <p name="msg"><%= element.msg %></p>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="入力してね"
                          value="<%= element.msg %>"
                          name="<%= element.control %>"
                        />
                      </div>
                      <div class="col-5 pb-0">
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          name="complete"
                        >
                          終了
                        </button>
                        <div
                          class="btn-group"
                          role="group"
                          aria-label="Basic mixed styles example"
                        >
                          <button
                            type="button"
                            class="btn btn-primary btn-sm"
                            name="edit"
                          >
                            編集
                          </button>
                          <button
                            type="button"
                            class="btn btn-secondary btn-sm"
                            name="delete"
                          >
                            削除
                          </button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body" id="other_msg_list">
              <% other_msg_list.forEach(element=>{%>
              <div class="card" name="<%= element.control %>">
                <div class="card-header">
                  <div class="row">
                    <div class="col">
                      <p name="header">
                        FROM:<%= element.from_username%> TO:<%=
                        element.to_username %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text text-center"><%= element.msg %></p>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div
      class="modal fade"
      id="modal_recommend"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">下品!!! 卑猥!!!</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="NG_pop"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              送信しない
            </button>
            <button type="button" class="btn btn-primary" id="resend_msg">
              送信する
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="modal_prohibit"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">下品!!! 卑猥!!!</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="NG_pop2"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <input type="text" id="address_pop" hidden />
    <input type="text" id="msg_pop" hidden />
    <input type="number" id="number_pop" hidden />
    <script>
      const socket = io();
      let content;
      const self_authorization = "<%= self_authorization %>";
      let time = "<%= time %>";
      let original_time = "<%= original_time %>";
      let progress;
      let timer1;
      let timer2;

      $(window).on("load", function () {
        $("#your_msg_list")
          .find("input")
          .each(function () {
            $(this).attr("type", "hidden");
          });
        $("#your_msg_list")
          .find("button[name='complete']")
          .each(function () {
            $(this).hide();
          });
        if (Number(time) / 60 > 1) {
          var min = String(Math.floor(Number(time) / 60));
          var sec = String(time - min * 60);
          $("#timer").text("残り " + min + ":" + sec);
        }
        progress = Math.floor(
          100 - (Number(time) * 100) / Number(original_time)
        );
        $("#progress").attr("style", "width: " + String(progress) + "%");
        $("#progress").text(String(progress) + "%");
        socket.emit("room-join");
        timer1 = setInterval(function () {
          time = time - 1;
          var min = String(Math.floor(Number(time) / 60));
          var sec = String(time - min * 60);
          $("#timer").text("残り " + min + ":" + sec);
        }, 1000);
        timer2 = setInterval(function () {
          progress = Math.floor(
            100 - (Number(time) * 100) / Number(original_time)
          );
          $("#progress").attr("style", "width: " + String(progress) + "%");
          $("#progress").text(String(progress) + "%");
        }, original_time / 100);
      });

      $("#msg_submit").click(function () {
        if ($("#address").val() == "origin") {
          $("#origin").text("宛名を入れてね!!");
        } else {
          if ($("#message").val() == "") {
            $("#message").attr("placeholder", "なんか入力してね");
          } else {
            content = [$("#address").val(), $("#message").val()];
            $("#NG_pop").text(
              "あなたの入力した言葉" +
                $("#message").val() +
                "は下品で猥褻です。送信しないことを推奨します。"
            );
            $("#NG_pop2").text(
              "あなたの入力した言葉" +
                $("#message").val() +
                "は極度に下品で猥褻なものです。送信できません。"
            );
            $("#msg_pop").val($("#message").val());
            $("#address_pop").val($("#address").val());
            $("#number_pop").val(0);
            socket.emit("msg_submit", content);
            $("#message").val("");
          }
        }
      });

      socket.on("receive_msg", function (msg) {
        if (msg.length == 6) {
          if (msg[0] == self_authorization) {
            $("#your_msg_list").append(
              '<li class="list-group-item" name="' +
                msg[5] +
                '"><div class="row"><div class="col-7 pb-0"><p>@' +
                msg[4] +
                '</p><p name="msg">' +
                msg[2] +
                '</p><input type="hidden" class="form-control" placeholder="入力してね" value=' +
                msg[2] +
                " name=" +
                msg[5] +
                '></div><div class="col-5 pb-0"><button type="button" class="btn btn-primary btn-sm" name="complete" style="display: none;">終了</button><div class="btn-group" role="group" aria-label="Basic mixed styles example"><button type="button" class="btn btn-primary btn-sm" name="edit">編集</button><button type="button" class="btn btn-secondary btn-sm" name="delete">削除</button></div></div></div></li>'
            );
            $("#NG_pop2").text("");
            $("#NG_pop").text("");
            $("#msg_pop").val("");
            $("#address_pop").val("");
            $("#number_pop").val("");
          } else if (
            msg[0] !== self_authorization &&
            msg[1] !== self_authorization
          ) {
            $("#other_msg_list").append(
              '<div class="card" name=' +
                msg[5] +
                '><div class="card-header"><div class="row"><div class="col"><p name="header">FROM:' +
                msg[3] +
                " TO:" +
                msg[4] +
                '</p></div></div></div><div class="card-body"><p class="card-text text-center">' +
                msg[2] +
                "</p></div></div>"
            );
          }
        } else {
          if (msg == true) {
            $("#NG_pop2").text("");
            $("#modal_recommend").modal("show");
          } else if (msg == false) {
            $("#NG_pop").text("");
            $("#msg_pop").val("");
            $("#address_pop").val("");
            $("#modal_prohibit").modal("show");
          }
        }
      });

      $("#resend_msg").click(function () {
        var msg = $("#msg_pop").val();
        var address = $("#address_pop").val();
        var edit = $("#number_pop").val();
        if (msg == "") {
          $("#msg_pop").val("");
          $("#address_pop").val("");
          $("#NG_pop").text("送信に失敗しました。");
          $("#number_pop").val("");
        } else {
          if (address == "") {
            $("#msg_pop").val("");
            $("#address_pop").val("");
            $("#NG_pop").text("送信に失敗しました。");
            $("#number_pop").val("");
          } else {
            if (edit == 0) {
              socket.emit("msg_submit", [address, msg, true]);
              $("#msg_pop").val("");
              $("#address_pop").val("");
              $("#modal_recommend").modal("hide");
              $("#number_pop").val("");
            } else if (edit == 1) {
              socket.emit("edit_msg", [msg, address, true]);
              $("#msg_pop").val("");
              $("#address_pop").val("");
              $("#modal_recommend").modal("hide");
              $("#number_pop").val("");
            }
          }
        }
      });

      $(document).on("click", "button[name='edit']", function () {
        $(this).parent().parent().parent().find("p[name='msg']").hide();
        $(this).parent().parent().parent().find("input").attr("type", "text");
        $(this).parent().hide();
        $(this).parent().parent().find("button[name='complete']").show();
      });

      $(document).on("click", "button[name='complete']", function () {
        var msg = $(this).parent().parent().parent().find("input").val();
        var control = $(this)
          .parent()
          .parent()
          .parent()
          .find("input")
          .attr("name");
        if (!(control == "")) {
          if (!(msg == "")) {
            $("#NG_pop").text(
              "あなたの入力した言葉" +
                msg +
                "は下品で猥褻です。送信しないことを推奨します。"
            );
            $("#NG_pop2").text(
              "あなたの入力した言葉" +
                msg +
                "は極度に下品で猥褻なものです。送信できません。"
            );
            $("#msg_pop").val(msg);
            $("#address_pop").val(control);
            $("#number_pop").val(1);
            socket.emit("edit_msg", [msg, control]);
          }
        }
      });

      $(document).on("click", "button[name='delete']", function () {
        var control = $(this)
          .parent()
          .parent()
          .parent()
          .parent()
          .find("input")
          .attr("name");
        socket.emit("delete_msg", control);
      });

      socket.on("receive_editmsg", function (msg) {
        if (msg.length == 4) {
          if (msg[1] == self_authorization) {
            if ($("#your_msg_list").find("li[name='" + msg[3] + "']") !== 0) {
              $("#your_msg_list")
                .find("li[name='" + msg[3] + "']")
                .each(function () {
                  $(this).find("li[name='" + msg[3] + "']");
                  $(this).find("p[name='msg']").text(msg[2]);
                  $(this).find("p[name='msg']").show();
                  $(this).find("input").attr("type", "hidden");
                  $(this).find("div").show();
                  $(this).find("button[name='complete']").hide();
                });
            }
          } else if (
            msg[0] !== self_authorization &&
            msg[1] !== self_authorization
          ) {
            if ($("#other_msg_list").find("div[name='" + msg[3] + "']") !== 0) {
              var header = $("#other_msg_list")
                .find("div[name='" + msg[3] + "']")
                .find("p[name='header']")
                .text();
              $("#other_msg_list")
                .find("div[name='" + msg[3] + "']")
                .remove();
              $("#other_msg_list").append(
                '<div class="card" name=' +
                  msg[3] +
                  '><div class="card-header"><div class="row"><div class="col"><p name="header">' +
                  header +
                  '</p></div><div class="col"><p><span class="badge bg-success">修正</span></p></div></div></div><div class="card-body"><p class="card-text text-center">' +
                  msg[2] +
                  "</p></div></div>"
              );
            }
          }
        } else {
          if (msg == true) {
            $("#NG_pop2").text("");
            $("#modal_recommend").modal("show");
          } else if (msg == false) {
            $("#NG_pop").text("");
            $("#msg_pop").val("");
            $("#address_pop").val("");
            $("#modal_prohibit").modal("show");
          }
        }
      });

      socket.on("receive_deletemsg", function (msg) {
        if (msg.length == 3) {
          if (msg[1] == self_authorization) {
            if ($("#your_msg_list").find("li[name='" + msg[2] + "']") !== 0) {
              $("#your_msg_list")
                .find("li[name='" + msg[2] + "']")
                .remove();
            }
          } else if (
            msg[0] !== self_authorization &&
            msg[1] !== self_authorization
          ) {
            if ($("#other_msg_list").find("div[name='" + msg[2] + "']") !== 0) {
              $("#other_msg_list")
                .find("div[name='" + msg[2] + "']")
                .remove();
              $("#other_msg_list").append(
                '<div class="card"><div class="card-header"><p><span class="badge bg-danger">削除</span></p></div><div class="card-body"><p class="card-text text-center">削除されました。</p></div></div>'
              );
            }
          }
        }
      });

      socket.on("finish", function () {
        window.location.reload();
      });

      socket.on("error", function () {
        window.location.href = "/internal_error";
      });
    </script>
  </body>
</html>
