<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello World</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/send_url.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body style="background-color: rgb(249, 245, 253)">
    <header class="pt-3" style="padding-left: 1.1rem">
      <a href="/"><h2 class="title">No title</h2></a>
      <nav class="nav">
        <ul>
          <a href="/login"><li>login</li></a>
          <a href="/home"><li>Home</li></a>
          <a href="/profile"><li>Profile</li></a>
          <li>Music</li>
          <li>
            <form action="/logout" method="POST">
              <button type="submit">ログアウト</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <main class="m-4">
      <h1 class="text-center">レッテルを貼りましょう!</h1>
      <p class="text-right" style="text-align: right">残り 01:00</p>
      <div class="progress mb-4">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          25%
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="card mb-2">
              <div class="card-body">
                <textarea
                  class="form-control"
                  id="message"
                  rows="3"
                  style="resize: none"
                  placeholder=""
                ></textarea>
                <div class="row mt-2">
                  <div class="col 5">
                    <select
                      id="address"
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected value="origin" id="origin">宛先</option>
                      <% other_users.forEach(element =>{%>
                      <option value="<%= element.authorization %>">
                        <%= element.user %>
                      </option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="col 4">
                    <button
                      class="btn btn-primary"
                      style="text-align: right"
                      id="msg_submit"
                    >
                      submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <div class="card-body">
                <ul class="list-group" id="your_msg_list">
                  <% your_msg_list.forEach(element=>{ %>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-7 pb-0">
                        <p>@<%= element.to_username %></p>
                        <p name="msg"><%= element.msg %></p>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="入力してね"
                          value="<%= element.msg %>"
                        />
                      </div>
                      <div class="col-5 pb-0">
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          name="complete"
                        >
                          終了
                        </button>
                        <div
                          class="btn-group"
                          role="group"
                          aria-label="Basic mixed styles example"
                        >
                          <button
                            type="button"
                            class="btn btn-primary btn-sm"
                            name="edit"
                          >
                            編集
                          </button>
                          <button
                            type="button"
                            class="btn btn-secondary btn-sm"
                            name="delete"
                          >
                            削除
                          </button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body" id="other_msg_list">
              <% other_msg_list.forEach(element=>{%>
              <div class="card">
                <div class="card-header">
                  FROM:<%= element.from_username%> TO:<%= element.to_username %>
                </div>
                <div class="card-body">
                  <p class="card-text text-center"><%= element.msg %></p>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      const socket = io();
      let content;
      const self_authorization = "<%= self_authorization %>";

      $(window).on("load", function () {
        console.log($("#your_msg_list").find("input"));
        $("#your_msg_list")
          .find("input")
          .each(function () {
            $(this).attr("type", "hidden");
          });
        $("#your_msg_list")
          .find("button[name='complete']")
          .each(function () {
            $(this).hide();
          });
        socket.emit("room-join");
      });

      $("#msg_submit").click(function () {
        if ($("#address").val() == "origin") {
          $("#origin").text("宛名を入れてね!!");
        } else {
          if ($("#message").val() == "") {
            $("message").attr("placeholder", "なんか入力してね");
          } else {
            content = [$("#address").val(), $("#message").val()];
            socket.emit("msg_submit", content);
            $("#message").val("");
          }
        }
      });

      socket.on("receive_msg", function (msg) {
        console.log(msg);
        if (msg.length == 5) {
          if (msg[0] == self_authorization) {
            $("#your_msg_list").append(
              '<li class="list-group-item"><div class="row"><div class="col-7 pb-0"><p>@' +
                msg[4] +
                '</p><p name="msg">' +
                msg[2] +
                '</p><input type="hidden" class="form-control" placeholder="入力してね" value=' +
                msg[2] +
                '></div><div class="col-5 pb-0"><button type="button" class="btn btn-primary btn-sm" name="complete" style="display: none;">終了</button><div class="btn-group" role="group" aria-label="Basic mixed styles example"><button type="button" class="btn btn-primary btn-sm" name="edit">編集</button><buttontype="button" class="btn btn-secondary btn-sm" name="delete">削除</button></div></div></div></li>'
            );
          } else if (
            msg[0] !== self_authorization &&
            msg[1] !== self_authorization
          ) {
            $("#other_msg_list").append(
              '<div class="card"><div class="card-header">FROM:' +
                msg[3] +
                " TO:" +
                msg[4] +
                '</div><div class="card-body"><p class="card-text text-center">' +
                msg[2] +
                "</p></div></div>"
            );
          }
        }
      });

      $(document).on("click", "button[name='edit']", function () {
        $(this).parent().parent().parent().find("p[name='msg']").hide();
        $(this).parent().parent().parent().find("input").attr("type", "text");
        $(this).parent().hide();
        $(this).parent().parent().find("button[name='complete']").show();
      });

      $(document).on("click", "button[name='complete']", function () {
        var msg = $(this).parent().parent().parent().find("input").val();
        $(this).parent().parent().find("p[name='msg']").text(msg);
        $(this).parent().parent().find("p[name='msg']").show();
        $(this).parent().parent().find("input").attr("type", "hidden");
        $(this).parent().find("div").show();
        $(this).hide();
      });
    </script>
  </body>
</html>
